<%- include("../partials/header") %> 
<title>NC Blog admin | Edit Post</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="topic-system">
        <h1>Edit Post:</h1>
        <form action="/savepost" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="postId" value="<%= post._id %>">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Post Title</label>
              <input type="text" class="form-control" value="<%= post.title %>" name="postTitle" id="exampleFormControlInput1" placeholder="Post Title">
            </div>
            <div class="mb-3">
              <label for="selectCategory" class="form-label">Select Category</label>
              <select id="selectCategory" name="postCategorie" class="form-select">
                <option><%= post.category %></option>
                <option>News</option>
                <option>Tech</option>
                <option>Sport</option>
                <option>Health</option>
                <option>Entertainment</option>
                <option>Life</option>
                <option>Stories</option>
              </select>
            </div>
            <!-- Post Tags -->
            <div class="mb-3">
             <label for="exampleFormControlInput2" class="form-label">Post Tag 1</label>
             <input type="text" class="form-control" value="<%= post.tagOne %>" name="tagOne" id="exampleFormControlInput2" placeholder="Post Tag 1">
            </div>
            <div class="mb-3">
             <label for="exampleFormControlInput2" class="form-label">Post Tag 2</label>
             <input type="text" class="form-control" value="<%= post.tagTwo %>" name="tagTwo" id="exampleFormControlInput2" placeholder="Post Tag 2">
            </div>
            <div class="mb-3">
             <label for="exampleFormControlInput2" class="form-label">Post Tag 3</label>
             <input type="text" class="form-control" value="<%= post.tagThree %>" name="tagThree" id="exampleFormControlInput2" placeholder="Post Tag 3">
            </div>
            <div class="mb-3">
             <label for="exampleFormControlInput2" class="form-label">Post Tag 4</label>
             <input type="text" class="form-control" value="<%= post.tagFour %>" name="tagFour" id="exampleFormControlInput2" placeholder="Post Tag 4">
            </div>
            <!-- Post content area -->
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Post Text</label>
              <textarea class="form-control" name="postContent" id="exampleFormControlTextarea1" rows="8"> <%= post.content %> </textarea>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">Edit</button>
            </div>
        </form>
        <div class="cancel-edit">
            <a href="/dashboard">Cancel</a>
        </div>
    </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %>     
    
<%- include("../partials/footer") %>
<script src="home.js"></script>