<%- include("../partials/header") %>
  <title>NC Blog: Health</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="container-system">
        <div class="post-sections">
          <div class="vl"></div>
          <span class="news-span">Health</span>
        </div>
        <div class="row">
          <% if (posts.length > 0) { %>
            <%  posts.forEach(function(post){ %>
              <div class="col-lg-4">
                <a href="/posts/<%=post._id%>" class="post-link">
                  <div class="card post-component post-template">
                    <img src= "/<%= post.image %>" class="card-img-top" alt="img2">
                    <div class="post-body">
                      <h5 class="card-title"><%= post.title.substring(0, 30) + " ..." %></h5>
                      <div class="date-div">
                        <span class="post-date"><i class="bi bi-clock"></i></span> 
                        <span class="post-date text-icon"> <%= post.createdAt.toString().substring(0, 15) %></span>
                      </div> 
                      <p class="card-text"><%= post.content.substring(0, 142) + " ..." %></p>
                    </div>
                  </div>
                </a>
              </div> 
              <% }) %>
            <% } else { %> 
            <h1>Health posts coming soon...</h1>
          <% } %>
        </div>
      </div>
      </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %> 

<%- include("../partials/footer") %>
<script src="home.js"></script>