<%- include("../partials/header") %>
  <title>NC Blog: News, Tech, Sport, Health, Programming, Development, Entertainment</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %>
    <!-- Welcome Section -->
    <div class="welcome-section">
        <div class="row">
            <div class="col-lg-6 welcome-text">
                <h1 class="welcome-h1">Welcome To the NC Blog.</h1>
                <p>Note: The website run in the beta version, so, if you meet any problem, you can send us a <a href="/feedback">feedback</a>.</p>
            </div>
            <div class="col-lg-6">
                <img class="news-img" src="imgs/news.png" alt="news-illustration">
            </div>
        </div>
        <div class="scroll-down">
          <a href="#news-section"><i class="bi bi-arrow-down-circle-fill"></i></a>
        </div>
    </div>
    <!-- News Section -->
    <div class="container-system" id="news-section">
        <div class="post-sections">
          <div class="vl"></div>
          <a href="/news" class="sitemap-links"><span class="news-span">News</span></a> 
        </div>
        <div class="row">
          <% if (firstPost.length > 0) { %> 
            <% firstPost.forEach(function(post) { %> 
              <div class="col-lg-7 first-post">
                <a href="/posts/<%=post._id%>" class="post-link">
                  <div class="card post-component post-template">
                    <img src= "/<%= post.image %>" class="img-template" alt="img2">
                    <div class="post-body">
                      <h5 class="card-title"><%= post.title %></h5>
                      <div class="date-div">
                        <span class="post-date"><i class="bi bi-clock"></i></span>
                        <span class="post-date text-icon"><%= post.createdAt.toString().substring(0, 15) %></span>
                      </div>
                      <p class="card-text"><%= post.content.substring(0, 524) + " ..." %></p>
                    </div>
                  </div>
                </a>
              </div>
            <% }) %>
          <% } else {%> 
            <h1>News posts coming soon...</h1>
          <% } %>       
              <div class="col-lg-5">
                <% if (newsPosts.length > 0) { %>
                  <% newsPosts.forEach(function(post) { %>
                    <div class="card post-component post-template">
                      <a href="/posts/<%=post._id%>" class="post-link">
                        <img src= "/<%= post.image %>" class="card-img-top" alt="img2">
                        <div class="post-body">
                          <h5 class="card-title"><%= post.title.substring(0, 40) + " ..." %></h5>
                          <div class="date-div">
                            <span class="post-date"><i class="bi bi-clock"></i></span>
                            <span class="post-date text-icon"> <%= post.createdAt.toString().substring(0, 15) %></span>
                          </div>
                          <p class="card-text"><%= post.content.substring(0, 142) + " ..." %></p>
                        </div>
                      </a>
                    </div>
                  <% }) %>
                <% } else { %>
                    <h1>News posts coming soon...</h1>  
                <% } %> 
              </div>
        </div>
    </div>
    <!-- Tech Section -->
    <div class="container-system">
      <div class="post-sections">
        <div class="vl"></div>
        <a href="/tech" class="sitemap-links"><span class="news-span">Tech</span></a>
      </div>
      <div class="row">
        <% if (techPosts.length > 0) { %>
          <%  techPosts.forEach(function(post){ %>
            <div class="col-lg-4">
              <a href="/posts/<%=post._id%>" class="post-link">
                <div class="card post-component post-template">
                  <img src= "/<%= post.image %>" class="card-img-top" alt="img2">
                  <div class="post-body">
                    <h5 class="card-title"><%= post.title.substring(0, 30) + " ..." %></h5>
                    <div class="date-div">
                      <span class="post-date"><i class="bi bi-clock"></i></span> 
                      <span class="post-date text-icon"> <%= post.createdAt.toString().substring(0, 15) %></span>
                    </div> 
                    <p class="card-text"><%= post.content.substring(0, 142) + " ..." %></p>
                  </div>
                </div>
              </a>
            </div> 
            <% }) %>
        <% } else { %> 
          <h1>Tech posts coming soon...</h1>
        <% } %>
      </div>
    </div>
    <!-- Sport Section -->
    <div class="container-system">
      <div class="post-sections">
        <div class="vl"></div>
        <a href="/sport" class="sitemap-links"><span class="news-span">Sport</span></a>
      </div>
      <div class="row">
        <% if (sportPosts.length > 0) { %>
          <%  sportPosts.forEach(function(post){ %>
            <div class="col-lg-4">
              <a href="/posts/<%=post._id%>" class="post-link">
                <div class="card post-component post-template">
                  <img src= "/<%= post.image %>" class="card-img-top" alt="img2">
                  <div class="post-body">
                    <h5 class="card-title"><%= post.title.substring(0, 30) + " ..." %></h5>
                    <div class="date-div">
                      <span class="post-date"><i class="bi bi-clock"></i></span> 
                      <span class="post-date text-icon"> <%= post.createdAt.toString().substring(0, 15) %></span>
                    </div> 
                    <p class="card-text"><%= post.content.substring(0, 142) + " ..." %></p>
                  </div>
                </div>
              </a>
            </div>
            <% }) %>
          <% } else { %> 
          <h1>Sport posts coming soon...</h1>
        <% } %>
      </div>
    </div>
    <!-- Health Section -->
    <div class="container-system">
      <div class="post-sections">
        <div class="vl"></div>
        <a href="/health" class="sitemap-links"><span class="news-span">Health</span></a>
      </div>
      <div class="row">
        <% if (healthPosts.length > 0) { %>
          <%  healthPosts.forEach(function(post){ %>
            <div class="col-lg-4">
              <a href="/posts/<%=post._id%>" class="post-link">
                <div class="card post-component post-template">
                  <img src= "/<%= post.image %>" class="card-img-top" alt="img2">
                  <div class="post-body">
                    <h5 class="card-title"><%= post.title.substring(0, 30) + " ..." %></h5>
                    <div class="date-div">
                      <span class="post-date"><i class="bi bi-clock"></i></span> 
                      <span class="post-date text-icon"> <%= post.createdAt.toString().substring(0, 15) %></span>
                    </div> 
                    <p class="card-text"><%= post.content.substring(0, 142) + " ..." %></p>
                  </div>
                </div>
              </a>
            </div>
            <% }) %>
          <% } else { %> 
          <h1>Health posts coming soon...</h1>
        <% } %>
      </div>
    </div>
    <!-- Entertainment Section -->
    <div class="container-system">
      <div class="post-sections">
        <div class="vl"></div>
        <a href="/entertainment" class="sitemap-links"><span class="news-span">Entertainemt</span></a>
      </div>
      <div class="row">
        <% if (enterPosts.length > 0) { %>
          <%  enterPosts.forEach(function(post){ %>
            <div class="col-lg-4">
              <a href="/posts/<%=post._id%>" class="post-link">
                <div class="card post-component post-template">
                  <img src= "/<%= post.image %>" class="card-img-top" alt="img2">
                  <div class="post-body">
                    <h5 class="card-title"><%= post.title.substring(0, 30) + " ..." %></h5>
                    <div class="date-div">
                      <span class="post-date"><i class="bi bi-clock"></i></span> 
                      <span class="post-date text-icon"> <%= post.createdAt.toString().substring(0, 15) %></span>
                    </div> 
                    <p class="card-text"><%= post.content.substring(0, 142) + " ..." %></p>
                  </div>
                </div>
              </a>
            </div>
            <% }) %>
          <% } else { %> 
          <h1>Entertainemt posts coming soon...</h1>
        <% } %>
      </div>
    </div>
    <!-- Stories Section -->
    <div class="container-system">
      <div class="post-sections">
        <div class="vl"></div>
        <a href="/extra#stories" class="sitemap-links"><span class="news-span">Stories</span></a> 
      </div>
      <div class="row">
        <% if (storiesPosts.length > 0) { %>
          <%  storiesPosts.forEach(function(post){ %>
            <div class="col-lg-6">
              <a href="/posts/<%=post._id%>" class="post-link">
                <div class="card post-component post-template">
                  <img src= "/<%= post.image %>" class="card-img-top" alt="img2">
                  <div class="post-body">
                    <h5 class="card-title"><%= post.title.substring(0, 30) + " ..." %></h5>
                    <div class="date-div">
                      <span class="post-date"><i class="bi bi-clock"></i></span> 
                      <span class="post-date text-icon"> <%= post.createdAt.toString().substring(0, 15) %></span>
                    </div> 
                    <p class="card-text"><%= post.content.substring(0, 180) + " ..." %></p>
                  </div>
                </div>
              </a>
            </div>
            <% }) %>
          <% } else { %> 
          <h1>Stories posts coming soon...</h1>
        <% } %>
      </div>
    </div>
    <!-- Middle Section -->
    <div class="row container-system">
        <div class="col-lg-7">
            <!-- Picks Section -->
            <div class="post-sections">
              <div class="vl"></div>
              <span class="news-span">Picks</span>
            </div>
            <% if (lifePosts.length > 0) { %>
              <%  lifePosts.forEach(function(post){ %>
                <div class="card post-component post-template">
                  <a href="/posts/<%= post._id %> " class="post-link">
                    <img src= "/<%= post.image %>" class="card-img-top" alt="img2">
                    <div class="post-body">
                      <h5 class="card-title"><%= post.title %></h5>
                      <div class="date-div">
                        <span class="post-date"><i class="bi bi-clock"></i> </span>
                      <span class="post-date text-icon"> <%= post.createdAt.toString().substring(0, 15) %> </span> 
                      </div> 
                      <p class="card-text"><%= post.content.substring(0, 142) + " ..." %></p>
                    </div>
                  </a>
                </div>
                <% }) %>
              <% } else { %> 
              <h1>Picks coming soon...</h1>
            <% } %>
        </div>
        <div class="col-lg-5">
            <!-- Adverbs Section -->
            <div class="post-sections">
              <div class="vl"></div>
              <span class="news-span">Adverbs</span> 
            </div>
            <div class="card post-component">
              <div class="post-body">
                <h5 class="card-title">For today</h5>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p class="blockquote-footer">"Don't wait for the perfect moment, take the moment and make it perfect"</p>
                  </blockquote>
                  <hr>
                  <blockquote class="blockquote mb-0">
                    <p class="blockquote-footer">"Don't talk unless you can improve the silence"</p>
                  </blockquote>
                  <hr>
                  <blockquote class="blockquote mb-0">
                    <p class="blockquote-footer">"If your dream don't scare you, it's not big enough"</p>
                  </blockquote>
                  <hr>
                  <blockquote class="blockquote mb-0">
                    <p class="blockquote-footer">"Faith is the bird that feels the light when the dawn is still dark"</p>
                  </blockquote>
                  <hr>
                  <blockquote class="blockquote mb-0">
                    <p class="blockquote-footer">"Truth is more valuabe if takes you a few years to find it"</p>
                  </blockquote>
                  <hr>
                </div>
              </div>
            </div>
        </div>
    </div>
<%- include("../partials/sitemap") %>

<%- include("../partials/footer") %>
<script src="home.js"></script>
