<%- include("../partials/header") %>
  <title>NC Blog: Sport</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="container-system">
        <div class="post-sections">
          <div class="vl"></div>
          <span class="news-span">Sport</span>
        </div>
        <div class="row">
          <% if (posts.length > 0) { %>
            <%  posts.forEach(function(post){ %>
              <div class="col-lg-4">
                <div class="card post-component post-template">
                  <img src= "/<%= post.image %>" class="card-img-top" alt="img2">
                  <div class="post-body">
                    <h5 class="card-title"><%= post.title %></h5>
                    <div class="date-div">
                      <span class="post-date"><i class="fas fa-calendar-week"></i><%= post.createdAt.toString().substring(0, 15) %></span> 
                    </div> 
                    <p class="card-text"><%= post.content.substring(0, 142) + " ..." %></p>
                  </div>
                </div>
              </div>
              <% }) %>
            <% } else { %> 
            <h1>Sport posts coming soon...</h1>
          <% } %>
        </div>
      </div>
      </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %> 

<%- include("../partials/footer") %>
<script src="home.js"></script>