<%- include("../partials/header") %>
  <title>Failed</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="topic-system">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= error %></h4>
            <p><%= errorMessage %></p>
        </div>
        <a href="<%= path %>"><button type="button" class="btn btn-danger">Retry</button></a>
    </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %>     
    
<%- include("../partials/footer") %>
<script src="home.js"></script>