<%- include("../partials/header") %>
  <title>Success</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="topic-system">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><%= success %></h4>
            <p><%= successMessage %></p>
        </div>
        <a href="<%= path %>"><button type="button" class="btn btn-success"><%= successButton %></button></a>
    </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %>     
    
<%- include("../partials/footer") %>
<script src="home.js"></script>